@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC|Noto+Serif+SC|Rubik&display=swap');
/*
font-family: 'Rubik', sans-serif;
font-family: 'Noto Serif SC', serif;
font-family: 'Noto Sans SC', sans-serif;
*/

/* normalize */

article,
aside,
details,
figcaption,
figure,
footer,
header,
img,
main,
menu,
nav,
section,
summary {
	display: block
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden
}

a {
	color: #0084FF;
	text-decoration: none;
	cursor: pointer
}

a:hover {
	text-decoration: underline;
}

/* header */
header {
	position: fixed;
	height: 100%;
	z-index: 5;
}

.level-box-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.level-box {
	height: 196px;
	width: 172px;
	transform: scale(0.8);
	transform-origin: center left;
}

.level-logo {
	position: absolute;
	height: 196px;
	width: 172px;
	background: url(../img/UI_HOME.png);
	background-position: 494px 828px;
	filter: brightness(30%);
}

.user-level {
	position: absolute;
	margin-top: 89px;
	height: 34px;
	width: 172px;
	background: url(../img/UI_HOME.png);
	background-position: -20px -238px;
	background-size: auto 3650%;
}

.chart-bg {
	position: absolute;
	margin: -79px auto auto 54px;
	height: 115px;
	width: 115px;
	background: url(../img/UI_HOME.png);
	background-position: 0px -295px;
	background-size: auto 1103%;
}

.chart-pr {
	position: absolute;
	margin: -79px auto auto 54px;
	height: 115px;
	width: 115px;
	background: url(../img/UI_HOME.png);
	background-position: 488px -398px;
	background-size: auto 1103%;
}

.level-num {
	font-family: 'Rubik', sans-serif;
	color: #fff;
	font-size: 60px;
	position: absolute;
	margin: -54px 77px;
}

/* view box layout */
.view-box {
	width: 100%;
	height: 100%
}


.mark {
	width: 100%;
	height: 560px;
	overflow: hidden;
}

.layer {
	position: relative;
}

.cover {
	position: absolute;
	max-width: none;
}

/* left perspective */
.left.menu.box {
	width: 50vw;
	height: 98vh;
	margin: 0 auto auto 2vh;
	transform: perspective(30em) rotateY(10deg) scale(0.9);
	display: -webkit-flex;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
}

.left.menu.box .container {
	height: 200px;
	width: 420px;
	display: -webkit-flex;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.left.menu.box .container .top {
	height: 40%;
	width: 100%
}

.left.menu.box .container .bottom {
	height: 60%;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.left.menu.box .container .bottom .left {
	padding: 5px;
	width: 60%;
	height: 100%
}

.left.menu.box .container .bottom .right {
	width: 40%;
	height: 100%
}

.left.menu.box .container .bottom .right .pos-1 {
	height: 50%;
	width: 100%;
}

.left.menu.box .container .bottom .right .pos-2 {
	height: 50%;
	width: 100%;
}

.left.menu.box .container .top .dialog {
	background-color: rgba(0, 0, 0, .7);
	padding: 10px 5px;
	margin: 0 5px;
	width: calc(100% - 20px);
	height: auto;
	font-family: 'Noto Sans SC', sans-serif;
	color: #fff;
	font-size: small;
	line-height: initial;
}

.left.menu.box .container .top .dialog::before {
	content: "VOICE";
	background-color: rgba(255, 255, 255, .7);
	font-family: 'Rubik', sans-serif;
	color: #000;
	position: absolute;
	margin: -15px -10px;
	width: 100px;
	padding: 0 5px;
}

.left.menu.box .container .bottom .left::before {
	content: "";
	height: 24px;
	width: 140px;
	background: url(../img/UI_HOME.png);
	background-position: -147px 1913px;
	;
	background-size: auto 6000%;
	position: absolute;
	margin: -5px;
}

.left.menu.box .container .bottom .left .activity-img {
	height: 115px;
	width: 251px;
	background: url(../img/UI_HOME_ACTIVITY_BANNER_ZONE.png);
	background-position: -14px -38px;
	background-size: 238%;
}

.left.menu.box .container .bottom .right .pos-1 .friends {
	background-color: #424242;
	opacity: .9;
	margin: 5px 5px 2.5px 5px;
	width: calc(100% - 10px);
	height: calc(100% - 7.5px);
}


.left.menu.box .container .bottom .right .pos-1 .friends .icon {
	height: 35px;
	width: 35px;
	background: url(../img/UI_HOME.png);
	background-position: -69px -26px;
	background-size: auto 1800%;
	position: absolute;
	margin: 8px;
}

.left.menu.box .container .bottom .right .pos-1 .friends .text {
	font-family: 'Noto Serif SC', serif;
	color: #fff;
	font-size: 25px;
	font-weight: 900;
	text-align: right;
	padding: 13px;
}

.left.menu.box .container .bottom .right .pos-2 .information {
	background-color: #e9e9e9;
	opacity: .9;
	margin: 2.5px 5px 5px 5px;
	width: calc(100% - 10px);
	height: calc(100% - 7.5px);
}

.left.menu.box .container .bottom .right .pos-2 .information .icon {
	height: 35px;
    width: 35px;
    background: url(../img/UI_HOME.png);
    background-position: -195px -897px;
    background-size: auto 1750%;
    position: absolute;
    margin: 8px;
    filter: invert(30%);
}

.left.menu.box .container .bottom .right .pos-2 .information .text {
	font-family: 'Noto Serif SC', serif;
	color: #323232;
	font-size: 25px;
	font-weight: 900;
	text-align: right;
	padding: 13px;
}

/* right perspective */
.right.menu.box {
	width: 50vw;
	height: 98vh;
	margin: 0 auto auto 48vw;
	transform: perspective(30em) rotateY(-10deg) scale(0.9);
}

.right.menu.box .container {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

/* character perspective box */
.char.perspective.box {
	width: 80%;
}

.char.perspective.box img {
	width: 100%
}
