/* normalize */

article,
aside,
details,
figcaption,
figure,
footer,
header,
img,
main,
menu,
nav,
section,
summary {
	display: block
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden
}

a {
	color: #0084FF;
	text-decoration: none;
	cursor: pointer
}

a:hover {
	text-decoration: underline;
}

/* header */
header {
	position: fixed;
	height: 100%;
	z-index: 5;
}

.level-box-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.level-box {
	height: 196px;
	width: 172px;

}

.level-logo {
	position: absolute;
	height: 196px;
	width: 172px;
	background: url(../img/UI_HOME.png);
	background-position: 494px 828px;
	transform: scale(1);
	transform-origin: center left;
	filter: brightness(30%);
}

.user-level {
	position: absolute;
	margin-top: 89px;
	height: 34px;
	width: 172px;
	background: url(../img/UI_HOME.png);
	background-position: -20px -238px;
	background-size: auto 3650%;
}

.chart-bg {}

.chart-pr {}

/* view box layout */
.view-box {
	width: 100%;
	height: 100%
}


.mark {
	width: 100%;
	height: 560px;
	overflow: hidden;
}

.layer {
	position: relative;
}

.cover {
	position: absolute;
	max-width: none;
}

/* left perspective */
.left.menu.box {
	width: 50vw;
	height: 98vh;
	margin: 0 auto auto 2vh;
	transform: perspective(30em) rotateY(10deg) scale(0.9);
	display: -webkit-flex;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
}

.left.menu.box .container{
	background-color: rgba(0, 0, 0, 0.5);
	height: 30%;
	width: 80%;
	display: -webkit-flex;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

/* right perspective */
.right.menu.box {
	width: 50vw;
	height: 98vh;
	margin: 0 auto auto 48vw;
	transform: perspective(30em) rotateY(-10deg) scale(0.9);
}

.right.menu.box .container{
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

/* character perspective box */
.char.perspective.box {
	width: 80%;
}
.char.perspective.box img {
	width: 100%
}